<div ng-controller='MarkCtrl'>
  <h4>Goal: <%= @goal.present? ? @goal : link_to("Add Goal", new_goal_path) %></h4>
  <h4 ng-bind='togo(<%= @goal.amount %>)'>To Go: $<%= @goal.amount %></h4>
  <h4 ng-bind='saved()'>Saved: $0.00</h4>

  <a ng-href='' ng-click='toggleForm()' class='btn btn-primary'>Earmark</a>
  <div class='new-mark-form'>
    <div class='error'>Something's wrong with that.</div>
    <form ng-submit='newMark()'>
      <label class="string">Description</label>
      <input ng-model='mark.description' class='string form-control' type='text'>
      <label class="float">Amount</label>
      <input ng-model='mark.amount' class='numeric float form-control' type='number'>

      <div class="btn-group">
        <input class='btn btn-success wide' type='submit'>
        <btn ng-click='clearForm()' class='btn btn-danger wide'>Cancel</btn>
      </div>

    </form>
  </div>

  <h4 class='m-top'>Earmarks</h4>
  <ul>
    <li ng-repeat='mark in marks'>
      {{mark.description}} - ${{mark.amount}}
    </li>
  </ul>
</div>
