/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap.min
 */

.center {
  width: 320px;
  margin: 0 auto 20px;
  text-align: center;
  background: lightblue;
  border-radius: 7px;
  padding-bottom: 20px;
}

h3.no-margin {
  padding-top: 15px;
  margin: 0;
}

input.string, input.numeric {
  width: 200px;
  border-radius: 7px;
  margin: 0 auto;
}

.btn {
  width: 100px;
}

.btn-group {
  margin-top: 10px;
}

.btn-primary {
  margin: 10px 0;
}

form {
  margin: 10px 0;
}

ul {
  list-style:none;
  margin: 0;
  padding: 0;
}

.m-top {
  margin-top: 20px;
}

.new-mark-form {
  display: none;
}

.error {
  display: none;
  color: red;
  margin-top: 10px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

input.ng-invalid {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid green;
}
